<!--
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Demo</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
    <link rel="stylesheet" type="text/css" href="/npm/bootstrap/dist/css/bootstrap.min.css" />
    <script async src="/npm/es-module-shims"></script>
    <script type="importmap">
        {
            "imports": {
                "bootstrap": "/npm/bootstrap",
                "@popperjs/core": "/npm/@popperjs/core",
                "htmx": "/npm/htmx.org"
            }
        }
    </script>
    <script type="module">
        import { Toast } from 'bootstrap';
        import 'htmx';
        htmx.on("notice", (e) => {
            document.getElementById("toast-body").innerText = e.detail.value;
            new Toast(document.getElementById("toast"), { delay: 2000 }).show();
        });
    </script>
</head>

<body>
<header>
    <h1>Demo</h1>
    <nav class="nav nav-tabs">
        <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#message" href="#">Message</a>
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#stream" href="#">Stream</a>
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#stream2" href="#">Stream2</a>
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#test" href="#">Test</a>
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#test2" href="#">Test2</a>

    </nav>
</header>
<main>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="message" role="tabpanel">
            <form class="container">
                <div id="auth" hx-trigger="load" hx-get="/user">
                    Unauthenticated
                </div>
                <div id="greeting">Placeholder</div>
                <input id="name" name="value" type="text" />
                <button class="btn btn-primary" hx-trigger="click" hx-post="/greet" hx-target="#greeting">Greet</button>
            </form>
        </div>
        <div class="tab-pane fade" id="stream" role="tabpanel">
            <div class="container" hx-sse="connect:/stream">
                <div id="load" hx-sse="swap:message"></div>
            </div>
        </div>
        <div class="tab-pane fade" id="stream2" role="tabpanel">
            <div class="container" hx-sse="connect:/stream2">
                <div id="load" hx-sse="swap:message"></div>
            </div>
        </div>
        <div class="tab-pane fade" id="test" role="tabpanel">
            <div class="container">
                <div id="hello"></div>
                <div id="world"></div>
                <button class="btn btn-primary" hx-get="/test" hx-swap="none">Fetch</button>
                <button class="btn btn-primary" hx-get="/notify" hx-swap="none">Notify!</button>
            </div>
        </div>

        <div class="tab-pane fade" id="test2" role="tabpanel">
            <div class="container">
                <div id="hello2"></div>
                <div id="world2"></div>
                <button class="btn btn-primary" hx-get="/test2" hx-swap="none">Fetch</button>
            </div>
        </div>


    </div>

</main>

</body>

</html>
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {height: 450px}

        /* Set gray background color and 100% height */
        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {height:auto;}
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#"  hx-get="/publiccontent" hx-target="#home">Home</a>
                </li>
                <li>
                    <a href="#"  hx-get="/admin" hx-target="#home">Admin</a>
                </li>
                <li>
                    <a href="#"  hx-get="/student" hx-target="#home">Student</a>
                </li>
                <li>
                    <a href="#"  hx-get="/publicedit" hx-target="#home">Public Edit</a>
                </li>
                <li>
                    <a href="#"  hx-get="/staffedit" hx-target="#home">Staff Edit</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" hx-get="/signupForm" hx-target="#home"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                </li>
                <li>
                    <a href="#" hx-get="/signinForm" hx-target="#home"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
        </div>
        <div class="col-sm-8 text-left">
            <div id="home" hx-trigger="load" hx-get="/publiccontent">

            </div>
        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
                <p>ADS</p>
            </div>
            <div class="well">
                <p>ADS</p>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p>Footer Text</p>
</footer>

</body>
</html>